numpy>=1
opencv-python>=4
scikit-learn>=1
fastapi>=0.100
uvicorn>=0.22
pydantic>=2
sqlalchemy>=2
google-generativeai>=0.3
python-multipart>=0.0
networkx>=3
python-jose>=3
python-dotenv>=1
pytest>=7
pandas>=1
pymongo>=4
stripe>=8
faiss-cpu>=1.11.0
schedule>=1.2.2
sentence-transformers>=4.1.0
torch>=2.7.1
transformers>=4.53.0
tokenizers>=0.21.2
psutil>=5.9.0